<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
        padding: 1em;
        }
        .label {
        display: inline-block;
        margin: 1rem 2rem 1rem 0;
        font-size: 1.2rem;
        }
        </style>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <h1>YouBike 2.0 臺北市公共自行車即時資訊</h1>
    <div id="app">
        <label class="label">
            站點搜尋：<input type="text" v-model.trim="keyword">
        </label>
        <label class="label">
            <input type="checkbox" v-model="isChecked">
            僅顯示目前可用車輛 > 0
        </label>
        <p>共 {{result.length}} 筆搜尋結果</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>場站名稱</th>
                    <th>場站區域</th>
                    <th>目前可用車輛
                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </th>
                    <th>總停車格
                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </th>
                    <th>資料更新時間</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr v-for="s in uBikeStops" :key="s.sno"> -->
                <tr v-for="s in result" :key="s.sno">
                    <td>{{ s.sno }}</td>
                    <td>{{ s.sna }}</td>
                    <td>{{ s.sarea }}</td>
                    <td>{{ s.sbi }}</td>
                    <td>{{ s.tot }}</td>
                    <td>{{ timeFormat(s.mday) }}</td>
                    <!-- <td>{{ s.mday }}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
    <script>
    // 欄位說明:
    // https://data.taipei/dataset/detail?id=c6bc8aed-557d-41d5-bfb1-8da24f78f2fb
    // sno：站點代號、 sna：場站名稱(中文)、 tot：場站總停車格、
    // sbi：場站目前車輛數量、 sarea：場站區域(中文)、 mday：資料更新時間、
    // lat：緯度、 lng：經度、 ar：地(中文)、 sareaen：場站區域(英文)、
    // snaen：場站名稱(英文)、 aren：地址(英文)、 bemp：空位數量、 act：全站禁用狀態
    const { computed, createApp, ref } = Vue;
    const app = createApp({
        setup() {
            const uBikeStops = ref([]);
            const isChecked = ref(0);
            const keyword = ref('');

            fetch('https://tcgbusfs.blob.core.windows.net/dotapp/youbike/v2/youbike_immediate.json')
                .then(res => res.text())
                .then(data => {
                    uBikeStops.value = JSON.parse(data);
                });
            const timeFormat = (val) => {
                // 時間格式
                const pattern = /(\d{4})(\d{2})(\d{2})(\d{2})(\d{2})(\d{2})/;
                return val.replace(pattern, '$1/$2/$3 $4:$5:$6');
            };
            const result = computed(() => {
                const list = keyword.value.length > 0 ? uBikeStops.value.filter((e) => e.sna.indexOf(keyword.value) >= 0) : uBikeStops.value;
                return isChecked.value ? list.value.filter((e) => e.sbi > 0) : list;
            });

            return {
                // q,
                result,
                isChecked,
                keyword,
                uBikeStops,
                timeFormat,
            }
        },
    }).mount("#app");
    </script>
</body>

</html>